.container {
    display: flex;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: solid 1px black;
    flex-direction: column;
}

.blockO {
    flex: auto;
    border: solid 1px blue;
}

.divHover {
    background-color: purple;
}

.blockV {
    flex: auto;
    border: solid 1px red;
    display: flex;
}